AI Mentorship Assistant/mentorship_workflow.json
{
  "name": "Mentorship Follow-ups",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM",
          "mode": "list",
          "cachedResultName": "Mentorship_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-368, -64],
      "id": "c791169c-08aa-4364-8636-39b6762d8b64",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-560, -64],
      "id": "3b954a99-6a96-4a64-8e64-63e2e5f634c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a mentorship assistant.\nWrite a short, personalized follow-up email for {{ $json[\"Name\"] }} who is currently {{ $json[\"Progress\"] }}% through the mentorship program.\nOnly output the email body — no subject, no greetings like \"Subject:\" or JSON.\n\nKeep it under 4 lines, friendly, motivational, and professional.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [64, -64],
      "id": "ca89d2dd-58aa-4306-99e0-c58e1214cf69",
      "name": "AI Agent"
    },
    {
      "parameters": {"options": {}},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-48, 128],
      "id": "dcb5aa8b-4a6c-4ca1-a454-ac2b39288c8a",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "={{ $('Get row(s) in sheet').item.json.Name }} Keep Going Strong on Your Mentorship Journey!\n",
        "emailType": "text",
        "message": "=Hi {{ $('Get row(s) in sheet').item.json.Name }},\n\n{{ $json.output }}\n\n– Mentorship Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [400, -48],
      "id": "e29dcd23-9358-4f0e-ba9a-89d6a3c38697",
      "name": "Send a message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM",
          "mode": "list",
          "cachedResultName": "Mentorship_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QrTzlR6SQ8SKOZDIf72gtDCwgaKBlVmzSviGfC06QXM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Get row(s) in sheet').item.json.Name }}",
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "Progress": "={{ $('Get row(s) in sheet').item.json.Progress }}",
            "LastFollowUp": "={{$now}}",
            "Status": "=Done"
          },
          "matchingColumns": ["Email"],
          "schema": [
            {"id": "Name", "displayName": "Name", "type": "string", "canBeUsedToMatch": true},
            {"id": "Email", "displayName": "Email", "type": "string", "canBeUsedToMatch": true},
            {"id": "Progress", "displayName": "Progress", "type": "string", "canBeUsedToMatch": true},
            {"id": "LastFollowUp", "displayName": "LastFollowUp", "type": "string", "canBeUsedToMatch": true},
            {"id": "Status", "displayName": "Status", "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [608, -32],
      "id": "1575a0c9-d803-4f29-9a40-75fdad785081",
      "name": "update rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2},
          "conditions": [
            {"id": "95a046a5-cd54-43ac-a4b6-ee185201d94d", "leftValue": "={{ $json.Status }}", "rightValue": "Pending", "operator": {"type": "string", "operation": "equals"}},
            {"id": "816e3d3c-9d5e-4914-b565-a772784819c3", "leftValue": "={{ $json.Progress }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}},
            {"id": "ff584552-eb1d-4c68-9a2b-6e678437afb8", "leftValue": "={{ $json.Progress }}", "rightValue": 100, "operator": {"type": "number", "operation": "lt"}}
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-176, -48],
      "id": "98b21705-3deb-4e52-8ce9-7394e2bba3a4",
      "name": "If"
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Get row(s) in sheet", "type": "main", "index": 0}]]},
    "Get row(s) in sheet": {"main": [[{"node": "If", "type": "main", "index": 0}]]},
    "Google Gemini Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]},
    "AI Agent": {"main": [[{"node": "Send a message", "type": "main", "index": 0}]]},
    "Send a message": {"main": [[{"node": "update rows", "type": "main", "index": 0}]]},
    "update rows": {"main": [[]]},
    "If": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "6b4d07cb-ea4b-4bd6-9de1-a4e520eb5fdd",
  "meta": {"templateCredsSetupCompleted": true, "instanceId": "64392526e4336d2b2fc8eb7b0c5ad9d6c5b2f3ac0803236f04700084480c9bdc"},
  "id": "8wFwJlW5uLmH6CnX",
  "tags": []
}
